<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
    
<body>
    <%- include('../partials/header') %>
    
<main>

<section class="section--selectForms">
<article class="selectForms--box">
    <div class="selectForms--box__inside">
        <button class="toggle-button" data-target="contentForm1" >Página de Inicio del curso</button>
        <button class="toggle-button" data-target="contentForm2">Programa</button>
        <button class="toggle-button" data-target="contentForm3">Mensajes del Curso</button>
        <button class="toggle-button" data-target="contentForm4">Promociones</button>
    </div>
</article>
</section>

<section class="section--forms">
<form>
    <article id="contentForm1" class="forms--box visible">
    <div class="forms--box__title">
<h1>Página de Inicio del curso</h1></div>

<div class="forms--box__inputContainer">
    <h3>Título del curso</h3>
    <label for=""></label>
    <input type="text" name="" id="">

</div>

<div class="forms--box__inputContainer">
    <h3>Subtítulo del curso</h3>
    <label for=""></label>
    <input type="text" name="" id="">

</div>

<div class="forms--box__inputContainer">
    <h3>Descripción del curso</h3>
    <label for=""></label>
    <input type="text" name="" id="">

</div>

<div class="forms--box__inputContainer">
    <h3>Información básica</h3>
    <div class="box--selects">
    <div class="forms--box__selectContainer">
    <label for=""></label>
   <select  name="" id="">
    <option class="selectGrey" value="default">-- Selecciona idioma --</option>
    <option value="es">Español</option>
    <option value="en">Inglés</option>
    <option value="pr">Portugués</option>
    <option value="ital">Italiano</option>
    <option value="fr">Francés</option>

   </select>
</div>

<div class="forms--box__selectContainer">
    <label for=""></label>
   <select name="" id="">
    <option class="selectGrey" value="">-- Seleccionar categoría --</option>
    <option value="">Fundamentos de la Ciberseguridad</option>
    <option value="">Seguridad Ofensiva</option>
    <option value="">Seguridad Defensiva</option>
    <option value="">Seguridad de Nube</option>
    <option value="">Ingeniería Social</option>


   </select>
</div>

<div class="forms--box__selectContainer">
    <label for=""></label>
   <select name="" id="">
    <option class="selectGrey" value="">-- Seleccionar subcategoría --</option>
    <option value="none">WIP</option>

   </select>
</div>
</div>
</div>


<div class="forms--box__previewContainer">
    <h3>Imagen del curso</h3>
    <img>
    <p>Carga la imagen de tu curso aquí. Se recomienda que tenga los formatos: .jpg, .jpeg, .gif, o .png; Y sin texto en la imagen</p>
<div class="forms--box__fileInput">
    <label for=""></label>
<input type="file" name="" id="">
</div>
</div>


<div class="forms--box__previewContainer">
    <h3>Video promocional</h3>
    <img>
<p>Carga el video promocional de tu curso, un buen video servirá como un adelanto de lo que se aprenderá.</p>
    <div class="forms--box__fileInput">
    <label for=""></label>
<input type="file" name="" id="">
</div>
</div>

<div class="forms--box__priceContainer">
    <h3>Precio</h3>
    <div class="box--priceInput"> <label for=""></label>
    <input type="text" name="" id=""></div>
</div>
</article>


<article class="forms--box">
    <div class="forms--box__title">
    <h2>Índice del curso</h2>
</div>

<div class="forms--boxIndex">
    <h3>¿Qué aprenderán los estudiantes en el curso?</h3>
    <p>Debes de escribir, al menos, 3 objetivos de aprendizaje o resultados que los estudiantes esperen consideguir al finalizar el curso.</p>

    <div class="forms--boxIndex__inside">
<div class="forms--box__inputContainer">
    <label for=""></label>
    <input type="text" name="" id="">
</div>

<div class="forms--box__inputContainer">
    <label for=""></label>
    <input type="text" name="" id="">
</div>

<div class="forms--box__inputContainer">
    <label for=""></label>
    <input type="text" name="" id="">
</div>
</div>
<button class="forms--normalButton">Añadir algo más a tu respuesta</button>
</div>


<div class="forms--boxIndex">
<h3>¿Cuáles son los requisitos previos para realizar tu curso?</h3>
<p>Haz una lista de todas las habilidades, herramientas, experiencia y equipos necesarios que los alumnos deberían tener antes de realizar tu curso.Si no hay requisitos, utiliza esto como una oportunidad para bajar la barrera para los principiantes.</p>

<div class="forms--boxIndex__inside">
    <div class="forms--box__inputContainer"><label for=""></label>
        <input type="text" name="" id="">
    </div>
</div>
<button class="forms--normalButton">Añadir algo más a tu respuesta</button>
</div>
</article>

<article id="contentForm2" class="forms--box">
    <div class="forms--box__title">
        <h2>Programa</h2>
    </div>

    <div class="boxContent">
        <h3>Seccion 1:</h3>
        <div class="boxInnerContent">
    <div class="boxContent--inside">
        <div class="boxContent--title">
            <h4>Lectura 1:</h4>
            <p>Introducción</p>
          </div>
          
          <button type="button" class="content--toggleButton" data-target="toggleContentPlus">+ Contenido</button>
          
          <button type="button" id="toggleContentPlus" class="contentTab--button hidden">
            Seleccionar el tipo de contenido X
          </button>
          
          <div id="buttonContainer" class="button-container">
            <!-- Aquí se generarán los botones separados -->
          </div>
          <!-- Botones de cancelación/eliminación específicos -->
          <button type="button" class="cancel-button hidden" id="cancelVideoElementButton">Añadir Video X</button>
          <button type="button" class="cancel-button hidden" id="cancelSlidesElementButton">Añadir Diapositiva X</button>
          <button type="button" class="cancel-button hidden" id="cancelArticleElementButton">Añadir Artículo X</button>
          <button type="button" class="cancel-button hidden" id="cancelDescriptionElementButton">Añadir Descripción X</button>
          <button type="button" class="cancel-button hidden" id="cancelResourcesElementButton">Añadir Recursos X</button>
          
          <button type="button" class="realCancel-button hidden" id="realItemVideosElementButton">Añadir Video X</button>
<button type="button" class="realCancel-button hidden" id="realItemSlidesElementButton">Añadir Diapositiva X</button>
<button type="button" class="realCancel-button hidden" id="realItemArticlesElementButton">Añadir Artículo X</button>
<button type="button" class="realCancel-button hidden" id="realItemDescriptionElementButton">Añadir Descripción X</button>
<button type="button" class="realCancel-button hidden" id="realItemResourcesElementButton">Añadir Recursos X</button>
          </div>

          <div class="data-container">
            <div class="data-contentContainer"></div>

            <div class="data-descriptionContainer">
            </div>

            <h4 class="resourcesContainer--title hidden">Recursos externos</h4>
            <div class="data-resourcesContainer">
               
            </div>

          <div id="toggleContentTab" class="boxContent__downButtons">
            <button type="button" class="data-add-button" data-target-container=".data-descriptionContainer" data-partial-type="itemDescription" data-cancel-button="#cancelDescriptionElementButton" data-toggle-elements=".contentMenu--buttons > div">+ Descripción</button>
            <button type="button" class="data-add-button" data-target-container=".data-resourcesContainer" data-partial-type="itemResources" data-cancel-button="#cancelResourcesElementButton" data-toggle-elements=".contentMenu--buttons > div">+ Recursos</button>
          </div>
          
          <div id="toggleContentPlus" class="contentMenu hidden">
            <div class="contentMenu--buttons">
              <p>Selecciona el tipo de contenido principal. Se pueden añadir archivos y enlaces como recursos.</p>
          
              <div>
                <button type="button" class="data-add-button" data-target-container=".data-contentContainer" data-partial-type="itemVideos" data-cancel-button="#cancelVideoElementButton" data-toggle-elements=".contentMenu--buttons > div">Video</button>
              </div>
          
              <div>
                <button type="button" class="data-add-button" data-target-container=".data-contentContainer" data-partial-type="itemSlides" data-cancel-button="#cancelSlidesElementButton" data-toggle-elements=".contentMenu--buttons > div">Diapositivas</button>
              </div>
          
              <div>
                <button type="button" class="data-add-button" data-target-container=".data-contentContainer" data-partial-type="itemArticles" data-cancel-button="#cancelArticleElementButton" data-toggle-elements=".contentMenu--buttons > div">Artículo</button>
              </div>
            </div>
          </div>
          
          

          </div>
          
       </div>
       <button class="boxContent--newElement">Añadir Elemento</button>

    </div>

</div>
</div>
<button class="boxContent--newElement">Añadir Sección</button>
</article>

<article id="contentForm3" class="forms--box">
    <div class="forms--box__title">
<h2>Mensajes del Curso</h2>
</div>

<div class="forms--boxMessages">
    <div class="forms--box__inputContainer">
<h3>Mensaje de bienvenida</h3>
<input type="text">
<label for=""></label>
</div>

<div class="forms--box__inputContainer">
    <h3>Mensaje de felicitación</h3>
    <input type="text">
    <label for=""></label>
    </div>
    

</div>
</article>


<article id="contentForm4" class="forms--box">
    <div class="forms--box__title">
        <h2>Promociones</h2>
    </div>

    <div class="box--couponsList"><h3>Cupones</h3>
    <ul><li>Cupón_1</li></ul>
    </div>

    <button class="box--newCoupons">Crear Cupones</button>
</article>
</form>

</section>

<section class="section--publish">
   <div class="publish__inside"> <button class="publish--cancel">Cancelar</button> <button class="publish--send">Publicar</button></div>
</section>
</main>

    <%- include('../partials/footer') %>

    <script src="/js/toggle.js"></script>
    <script src="/js/subToggle.js"></script>
    <script src="/js/addItems.js"></script>
</body>
</html>