<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
    
<body>
    <%- include('../partials/header') %>
    
<main>

<section>
<article>
    <div>
        <button>Página de Inicio del curso</button>
        <button>Programa</button>
        <button>Mensajes del Curso</button>
        <button>Promociones</button>
    </div>
</article>
</section>

<section>
<form>
    <article>
    <div>
<h1>Página de Inicio del curso</h1></div>

<div>
    <h3>Título del curso</h3>
    <label>
    </label>
    <input type="text">

</div>

<div>
    <h3>Subtítulo del curso</h3>
    <label>
   
    </label> 
    <input type="text">
</div>

<div>
    <h3>Descripción del curso</h3>
    <label>
    <input type="text">
    </label>
</div>

<div>
    <h3>Información básica</h3>
    <div>
    <div>
    <label for=""></label>
   <select name="" id="">
    <option value=""></option>

   </select>
</div>

<div>
    <label for=""></label>
   <select name="" id="">
    <option value=""></option>

   </select>
</div>

<div>
    <label for=""></label>
   <select name="" id="">
    <option value=""></option>

   </select>
</div>
</div>
</div>


<div>
    <h3>Imagen del curso</h3>
    <img>
    <p>Carga la imagen de tu curso aquí. Se recomienda que tenga los formatos: .jpg, .jpeg, .gif, o .png; Y sin texto en la imagen</p>
<div>
    <label for=""></label>
<input type="file" name="" id="">
</div>
</div>


<div>
    <h3>Video promocional</h3>
    <img>
<p>Carga el video promocional de tu curso, un buen video servirá como un adelanto de lo que se aprenderá.</p>
    <div>
    <label for=""></label>
<input type="file" name="" id="">
</div>
</div>

<div>
    <h3>Precio</h3>
    <div> <label for=""></label>
    <input type="text"></div>
</div>
</article>


<article>
    <div>
    <h2>Índice del curso</h2>
</div>

<div>
    <h3>¿Qué aprenderán los estudiantes en el curso?</h3>
    <p>Debes de escribir, al menos, 3 objetivos de aprendizaje o resultados que los estudiantes esperen consideguir al finalizar el curso.</p>

    <div>
<div><label for=""></label>
    <input type="text" name="" id="">
</div>

<div><label for=""></label>
    <input type="text" name="" id="">
</div>

<div><label for=""></label>
    <input type="text" name="" id="">
</div>
</div>
<button>Añadir algo más a tu respuesta</button>
</div>


<div>
<h3>¿Cuáles son los requisitos previos para realizar tu curso?</h3>
<p>Haz una lista de todas las habilidades, herramientas, experiencia y equipos necesarios que los alumnos deberían tener antes de realizar tu curso.Si no hay requisitos, utiliza esto como una oportunidad para bajar la barrera para los principiantes.</p>

<div>
    <div><label for=""></label>
        <input type="text" name="" id="">
    </div>
</div>
<button>Añadir algo más a tu respuesta</button>
</div>
</article>

<article>
    <div><h2>Programa</h2>
    </div>

    <div>
    <div>
       <div> <h3>Seccion 1:</h3> <p>Introducción</p></div> <button>+ Contenido</button></div>
       <div>
        <button>+ Descripción</button>
        <button>+ Recursos</button>
       </div>

    </div>
    <button>Añadir Elemento</button>
</div>
<button>Añadir Sección</button>
</article>

<article>
    <div>
<h2>Mensajes del Curso</h2>
</div>

<div>
    <div>
<h3>Mensaje de bienvenida</h3>
<input type="text">
<label for=""></label>
</div>

<div>
    <h3>Mensaje de felicitación</h3>
    <input type="text">
    <label for=""></label>
    </div>
    

</div>
</article>


<article>
    <div>
        <h2>Promociones</h2>
    </div>

    <div><h3>Cupones</h3>
    <ul><li>Cupón_1</li></ul>
    </div>

    <button>Crear Cupones</button>
</article>
</form>

</section>

<section>
   <div> <button>Cancelar</button> <button>Publicar</button></div>
</section>
</main>

    <%- include('../partials/footer') %>

</body>
</html>