
/* Menú toggle de Administrador */

.administratorMenu{

}

.administratorMenu--box{
    background-color: var(--color-moradoTranslucido);
    border-radius: 7px;
    border: solid var(--color-morado) 1px;
    width: 11%;
}

.administratorMenu--buttonsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.administratorMenu--buttonsContainer button{
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 8px 5px;
    font-size: 1.2rem;
    color: var(--color-blancoApagado);
}

.administratorMenu--buttonsContainer hr{
    border-width: 0px 0px 1px;
    border-color: var(--color-morado);
    width: 100%;
}
/* Caja de búsqueda */

.productListSearch{
    margin-bottom: 45px;
}

.productListSearch--box{
    background-color: var(--color-azulVioletaTranslucido);
    border: solid var(--color-azulVioleta) 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productListSearch__searchBar{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.productListSearch__searchBar input{
    padding: 10px 0px 10px 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 230px;
    font-size: 1rem;
    border: none;
    text-shadow: none;
    opacity: 1;
    color:black;
}

.productListSearch__searchButton{
    color: var(--color-blancoApagado);
    background-color: var(--color-negroPuro);
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.4rem;
    padding: 6px 19px 6px 19px;
}

.productListSearch__searchButton i{

}

.productListSearch__selectBar{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

.productListSearch__selectContainer{
    width: 40%;
}

.productListSearch__selectContainer input{

}

.productListSearch__selectContainer select{
    color: black;
    border-radius: 10px;
    padding: 11px 10% 11px 10px;
    border: none;
    margin-bottom: 5px;
    font-size: 1rem;
    width: 100%;
}

.selectGrey{
    color: grey;
}

.productListSearch__selectContainer option{

}

.productListSearch__selectContainer label{

}

.productListSearch__filterCategoriesButton{
    color: var(--color-blancoApagado);
    background-color: var(--color-negroPuro);
    border-radius: 10px;
    border: none;
    font-size: 1.3rem;
    padding: 8px;
}

.productListSearch__filterCategoriesButton i{

}



/* Container de Lista de Productos */

.productList{

}

.productList--inside{

}

.productList--card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: solid 1px;
}

.productList--card img{
    width: 100%;
}

.productList--cardInside{

}

.productList--card__title{
    font-size: 1.4rem;
    font-weight: 500;
}

.productList--card__author{
    font-size: 0.8rem;
}

.productList--card__tag{
    border: solid var(--color-rojoAtaque) 1px;
    background-color: var(--color-rojoAtaqueTranslucido);
    border-radius: 3px;
    margin-top: 20px;
}

.productList--card__tagTitle{
    font-size: 0.8rem;
}


.productList--card__optionsContainer{

}

.productList--card__optionsContainer button{

}



/* Paginador */
