/* About Us */
.aboutUs--card{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.aboutUs{
    width: 320px;
}
.aboutUs__button{
background-color: var(--color-azulVioleta);
color: var(--color-blancoApagado);
font-weight: 300;
border: none;
border-radius: 10px;
}

/* Course card */
.courses-title{
    display: flex;
    justify-content: center;
    margin-right: 45px;
    margin-left: 0px;
}
.section--courseCards{
display: flex;
justify-content: center;
}
.course--card{
background-color: var(--color-grisOscuro);
width: 270px;
display: flex;
flex-direction: column;
margin-top: 10px;
margin-bottom: 20px;
border-radius: 20px;
border: solid var(--color-grisMetalico);
border-width: 1px;
}

.course--card h3{
    margin-left: 7px;
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}
.course--card small{
margin-left: 7px;
margin-top:3px;
margin-bottom: 5px;
font-weight: 400;
}

.course--card__photo{
    width: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: solid var(--color-grisMetalico);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    
}

.course--card__rating{
    margin-left: 7px;
display: flex;
flex-direction: row;
align-items: center;
gap: 3px;
color: var(--color-amarilloDorado);
margin-top: 5px;
margin-bottom: 5px;
}

.course--card__rating p{
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 5px;
}

.course--card__price{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7px;
font-weight: 550;
font-size: 1.5rem;
}
.course--cardDown{
    display: flex;
    justify-content: flex-end;
}

.course--card__previewButton{
margin-right: 15px;
margin-bottom: 10px;
border-radius: 20px;
border: none;
background-color: var(--color-azulElectrico);
color: var(--color-blancoApagado);
padding: 5px;
padding-left: 10px;
padding-right: 10px;
font-weight: 530;
}

/* Categorias */
.categories--title{
    margin-bottom: 100px;
    font-weight: 400;
    text-align: center;
    font-size: 1.8rem;
}
.categoriesMain--Fundamental{
    display: flex;
    align-items: center;
    flex-direction: row;
    background: var(--color-magentaTranslucido);
    border: 1px solid var(--color-magenta);
    border-radius: 15px;
    padding: 10px 0px;
    margin: 20px 10px;
}
.categoriesCard--icon{
    width: 50px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.categoriesMain--Fundamental h3{
    font-weight: 500;
    margin-left: 2px;
}

.fa-plus{
    margin-bottom: 20px;
    margin-right: 12px;
}

.categoriesMain--Attack{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: var(--color-rojoAtaqueTranslucido);
    border: 1px solid var(--color-rojoAtaque);
    border-radius: 15px;
    padding: 10px 0px;
    margin: 15px 10px;
}
.categories--cardInside{
    margin-left: 10px;
}

.categories--cardUpper{

}

.card--categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 64px;
    margin-bottom: 15px;
}
.card--categories i{
    margin-bottom: 0px;
}
.categoriesCard--title{
    font-size: 0.9rem;
    margin-bottom: 5px;
    font-weight: 400;
}
.categories--cardLine{
    padding: 0px 15px;
    border-bottom-width: 0px;
    margin-bottom: 10px;
    margin-top: 7px;
    width: 0px;
}

.categories--cardDown{

}
.subcategories--title{
    font-weight: 400;
    font-size: 1.2rem;
}


.categoriesMain--Defense{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: var(--color-celesteDefensaTranslucido);
    border: 1px solid var(--color-celesteDefensa);
    border-radius: 15px;
    padding: 10px 0px;
    margin: 15px 10px;
}

.categoriesMain--cloudSecurity{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: var(--color-amarilloNubeTranslucido);
    border: 1px solid var(--color-amarilloNube);
    border-radius: 15px;
    padding: 10px 0px;
    margin: 15px 10px;
}

.categoriesMain--Social{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: var(--color-verdeSocialTranslucido);
    border: 1px solid var(--color-verdeSocial);
    border-radius: 15px;
    padding: 10px 0px;
    margin: 15px 10px;
}
/* Línea de separación */

.separationLine{
margin-top: 70px;
margin-bottom: 15px;
width: 300px;
margin-left: 10px;
}

/* Testimonios */

.testimonies--title{
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 1.9rem;
    font-weight: 300;
}

.section--testimonies{
    display: flex;
flex-direction: column;
align-items: center;
}

.testimonies--body{
background-color: var(--color-grisOscuro);
border-radius: 20px;
width: 300px;
border: solid var(--color-grisMetalico);
border-width: 1px;
margin: 10px 0px;;


}
.testimonie--inside{
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 30px;
}

.testimonies--Upperbody{
display: flex;
flex-direction: row;
gap: 7px;
align-items: center;
}

.testimonie--image{
width: 60px;
}

.testimonie-identity{

}

.testimonie--name{
    font-weight: 400;
    font-size: 1.4rem;
}

.testimonie--charge{

}

.testimonie-description{
margin-top: 15px;
font-size: 0.9rem;
}

/* Noticias */

.news--title{
margin-left: 10px;
font-size: 2.1rem;
font-weight: 300;
margin-bottom: 20px;
}

.section--news{
display: flex;
flex-direction: column;
align-items: center;

}

.news--card{
background-color: var(--color-grisOscuro);
width: 300px;
border-radius: 20px;
border: solid var(--color-grisMetalico);
    border-width: 1px;
    margin: 15px 0px;

}

.news--card__image{
    width: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

.news--cardInside{
margin-left: 10px;
margin-top: 2px;
}

.news--card__category{
color: var(--color-azulGrisaceo);
font-weight: 700;
font-size: 0.9rem;
background-color: var(--color-azulGrisaceoTranslucido);
border-radius: 5px;
padding: 4px 5px;

}
.news--card__title{
font-weight: 400;
font-size: 1.6rem;
margin-top: 2px;
}

.news--card__description{
font-weight: 300;
font-size: 1.0rem;
margin-bottom: 30px;
}

.news--card__date{
display: flex;
justify-content: flex-end;
margin-right: 10px;
margin-bottom: 5px;
font-weight: 200;
}

.news--seeMoreButton{
border: solid var(--color-azulGrisaceo);
border-width: 2px;
background-color: var(--color-negroCarbon);
color: var(--color-blancoApagado);
font-size: 1rem;
font-weight: 500;
border-radius: 20px;
padding: 7px 8px;
margin-top: 20px;
}

/* Trusted by */