
/* Sección: Seleccionador de partes del formulario */

.section--selectForms{
    margin-bottom: 40px;
    margin-top: 20px;
  
}

.selectForms--box{
    background-color: var(--color-azulGrisaceoMuyTranslucido);
    border: solid var(--color-azulGrisaceo) 1px;
    border-radius: 5px;
    padding: 10px 5px;
}

.selectForms--box__inside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    
}

.selectForms--buttonsBox{
    display: flex;
    flex-direction: column;
    gap: 7px;
}


.selectForms--box__inside button{
    background: none;
    border: none;
    text-align: left;
    color: var(--color-blancoApagado);
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 5px;
  
}

.toggle-button.selected {
    border-left: solid 4px;
    margin-left: 1px;
}

/* Sección: Formulario */

.section--forms{

}

.section--forms form{

}


/* Cuerpo general del formulario */

.forms--box{
background: var(--color-grisOscuro);
    padding-top: 15px;
    display: none;
    border-radius: 10px;

}

.forms--box.visible{
    display: block;
}

.forms--box__title{
border-bottom: 1px solid;
    margin-bottom: 25px;
}

.forms--box__title h1{
font-size: 1.8rem;
    margin-bottom: 15px;
    margin-left: 10px;
    font-weight: 300;
}

.forms--box__title h2{
    font-size: 1.8rem;
        margin-bottom: 15px;
        margin-left: 10px;
        font-weight: 300;
    }

.forms--box__inputContainer{
margin-left: 10px;
margin-bottom: 20px;
}



.forms--box__inputTitle{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 7px;
}


.forms--box__inputContainer input{
    border-radius: 8px;
    border: none;
     padding: 13px 0% 13px 10px;
    width: 91%;
    font-size: 1rem;
    text-shadow: none;
  opacity: 1;
  color:black;
}

.forms--box__inputContainer textarea{
    border-radius: 8px;
    border: none;
    width: 91%;
    font-size: 1rem;
    text-shadow: none;
  opacity: 1;
  color:black;
  font-family: inherit;
  padding: 7px 0% 19px 10px;
  resize: none;
}
/* Description Toolbar */


.forms--box__inputContainer label{

}

/* Seleccionador */

.box--selects{

}

.forms--box__selectContainer{

}

.forms--box__selectContainer input{

}

.forms--box__selectContainer select{
    color: black;
    border-radius: 10px;
    padding: 11px 10% 11px 10px;
    border: none;
    margin-bottom: 5px;
    font-size: 1rem;
}

.selectGrey{
    color: grey;
}

.forms--box__selectContainer option{

}

.forms--box__selectContainer label{

}

/* Previews */

.forms--box__previewContainer{
margin-left: 10px;
margin-bottom: 20px;
}



.forms--box__previewContainer img{
    
}



.previewDescription{
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.forms--box__fileInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pseudoButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-negroPuro);
    border-radius: 10px;
    width: 40%;
    padding: 14px 0px;
}

.pseudoButton--title{
    font-size: 1.1rem;
    font-weight: 500;
}

.forms--box__fileInput label{

}

.forms--box__fileInput input{
    width: 40%;
    padding: 14px 0px;
    border-radius: 10px;
    position: absolute;
    opacity: 0%;
}

/* Precio */

.forms--box__priceContainer{
margin-left: 10px;
}



.box--priceInput{

}

.box--priceInput__Inside{
    display: flex;
    align-items: flex-end;
    padding-bottom: 25px;
    gap: 0px;
}

.box--priceInput__Inside input{
    font-size: 1rem;
    text-shadow: none;
    opacity: 1;
    color: black;
}

.box--priceInput p{
    margin-left: 5px;
    font-size: 1.6rem;
}

.box--priceInput label{

}

.box--priceInput input{
    border-radius: 10px;
    padding: 13px 0px 13px 10px;
    border: none;
    width: 100px;
}


/* Índice del formulario */

.forms--boxIndex{

}

.forms--boxIndex__inside{

}

.forms--normalButton{

}


/* Programa del formulario */

.boxContent{
    border: solid 1px;
    margin-bottom: 20px;
}

.boxContent h3{
    font-size: 1.0rem;
    font-weight: 600;
    padding: 5px;
}

.boxInnerContent{
    border: solid 1px;
    margin-top: 5px;
    padding: 5px 0px;
    margin: 10px 5px;
}
.boxContent--inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 1px;
    margin-bottom: 10px;

}

.boxContent--title{
    display: flex;
    gap: 5px;
    font-size: 0.9rem;
}

.boxContent--title h4{
    font-weight: 500;
}

.boxContent__downButtons{
    gap: 7px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.boxContent__downButtons button{

}

.contentTab--button{

}

.contentMenu{
}

.hidden {
  display: none;
}
.visible {
  display: block;
}

.contentMenu--buttons{

}


.boxContent--newElement{

}

/* Item video */

.itemVideo--button{

}

.itemVideo--formBox{
display: none;
}

.itemVideo--formBox.visible{
    display: block;
    }


/* Item Diapositiva */
.itemSlide--button{

}

.itemSlide--formBox{
display: none;
}

.itemSlide--formBox.visible{
    display: block;
    }

.itemArticle--formBox{
display: none;
}

.itemArticle--formBox.visible{
    display: block;
    }

.itemResource--formBox{
display: none;
    }

.itemResource--formBox.visible{
display: block;
    }


.itemDescription--formBox{
    display: none;
}

.itemDescription--formBox.visible{
    display: block;
}

.contentPreview--box{
    display: none;
}

.contentPreview--box.visible{
display: block;
}

.dynamicForm--box{
    display: none;
}

.dynamicForm--box.visible{
display: block;
}

.resourcesContainer--title.hidden{
    display: none;
}

.resourcesContainer--title{
    display: block;
}

/* Item Artículo */
.itemArticle--button{

}

.itemArticle--formBox{
display: none;
}

.itemArticle--formBox.visible{
    display: block;
    }

/* Mensajes del curso */

.forms--boxMessages{
    padding-bottom: 20px;
}

.forms--boxMessages p{
    margin-left: 10px;
    margin-bottom: 35px;
    font-size: 0.9rem;
}

/* Estudiantes objetivo */

.box--objectives{

}

.box--objectives h3{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 7px;
    margin-left: 10px;
}

.box--objectives p{
    font-size: 0.9rem;
    margin-left: 10px;
    margin-bottom: 20px;
}

.objectives--buttonContainer{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}


.box--objectives button{
    background: var(--color-purpuraOscuro);
    border: none;
    color: var(--color-blancoApagado);
    font-size: 1.1rem;
    width: 295px;
    height: 40px;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 35px;
    margin-left: 10px;
}

/* Promociones */

.box--couponsList{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 7px;
    margin-left: 10px;
}

.box--couponsList__Top{
    height: 185px;
}

.box--couponsList__description{
    margin-left: 10px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.box--couponsList__title{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.couponBox{
    display: flex;
    align-items: flex-end;
}

.couponBox i{

}

.couponBox__inside{
    display: flex;
    gap: 5px;
    align-items: flex-end;
    gap: 7px;
    margin-right: 10px;
}

.couponBox__insideDown{
    gap: 0px;
    display: flex;
}

.couponBox__insideDown button{
    border: none;
    background: none;
    font-size: 1.2rem;
    color: var(--color-blancoApagado);
}
.couponBox__inside li{
    font-size: 1.4rem;
    font-weight: 400;
}

.couponBox__inside p{
    font-weight: 200;
}

.box--couponsList__boxLine{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

}

.box--couponsList__line{
    width: 93%;
}

.box--couponsList__Down{

}

.box--couponsList input{
    border-radius: 8px;
    padding: 13px 0% 13px 10px;
    width: 91%;
    border: none;
    font-size: 1.1rem;
}

.box--couponsPercentage{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 25px;
    display: flex;
    align-items: flex-end;
    gap: 2px;
    margin-top: 20px;
    margin-left: 10px;
}

.box--couponsPercentage input{
    border-radius: 8px;
    padding: 13px 0px 13px 10px;
    border: none;
    width: 50px;
    font-size: 1.1rem;
    text-shadow: none;
    opacity: 1;
    color:black;
}

.box--couponsPercentage p{
    font-size: 1.6rem;
}

.box--coupons__buttonContainer{ 
display: flex;
justify-content: flex-end;
}

.box--newCoupons{
    background: var(--color-purpuraOscuro);
    border: none;
    padding: 13px 7px;
    font-size: 1.1rem;
    border-radius: 5px;
    font-weight: 500;
    color: var(--color-blancoApagado);
    margin-right: 10px;
    margin-bottom: 15px;
}


/* Sección: Publicación */

.section--publish{

}

.publish__inside{
    background-color: var(--color-azulGrisaceoMuyTranslucido);
    border: solid var(--color-azulGrisaceo) 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 110px;
    margin-top: 40px;
}

.publish__inside button{
    color: var(--color-blancoApagado);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 6px 34px;
    border-radius: 7px;
    border: solid var(--color-blancoApagado) 1px;
    

}

.publish--cancel{
    background-color: var(--color-blancoApagadoTranslucido2);
}

.publish--send{
    background-color: var(--color-azulVioleta);    
}
