/*Icono de cantidad en carrito en el header  */

.cart--pending {
    position: relative;
}

.cart--pending p {
    padding: 0px;
    background-color: var(--color-purpuraOscuro);
    font-size: 1.3rem;
    border-radius: 50px;
    text-align: center;
    font-weight: 600;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -8px;
    left: 16px;
}

/* Titulo  del carrito*/

.cart--titles {}

.cart--titles__inside {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart--titles__inside h1 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-left: 0px;
}

.cart--titles__inside h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

/* Cuerpo del carrito */

.cart--body {}

/* Tarjeta de producto en el carrito */
.cart--bodyCard {
    display: flex;
    gap: 5px;
    border-top: solid var(--color-blancoApagado) 1px;
}

.cart--cardInside {
    margin-top: 15px;
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

.cart--bodyCard img {
    width: 20%;
    margin-left: 5px;
}

.cart--bodyCard__inside {
    width:100% ;
}

.cart--bodyCard__UpperInside {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.cart--bodyCard__inside h3 {
    font-size: 1.0rem;
    font-weight: 500;
}

.cart--bodyCard__inside small {
    font-size: 0.8rem;
}

.bodyCard__solePrice {
    margin-right: 5px;
}

.bodyCard__solePrice p {
    font-size: 1.1rem;
    font-weight: 400;
}

.cart--bodyCard__info {
    display: flex;
    gap: 20px;
}

.cart--bodyCard--rating {
    gap: 3px;
    display: flex;
    align-items: center;
    color: var(--color-amarilloDorado);
}

.cart--bodyCard--rating__extra{
    display:none
}

.cart--bodyCard--rating__text {
    font-weight: 500;
}

.cart--bodyCard--rating i {

}

.cart--bodyCard--score {
    display: flex;
    align-items: center;
    gap: 3px;
}

.cart--bodyCard--score i {
}

.cart--bodyCard--score p {
    font-weight: 500;
}

.score--quantity{
    display: none;
}

.cart--bodyCard--delete {
    display: flex;
    gap: 3px;
    margin-top: 10px;
}

.cart--bodyCard--deleteDesktop{
    display: none;
}

/* Total del carrito */

.cart--result {
    margin-top: 60px;
    margin-bottom: 120px;
}

.cart--resultCard {
    background-color: var(--color-blancoApagadoTranslucido);
    border: solid var(--color-blancoApagado) 1px;
    display: flex;
    flex-direction: column;
    align-items: cente
}

.cart--resultCard__total {

}

.cart--total {
    font-size: 1.5rem;
    font-weight: 500;
}

.cart--totalPrice {
    font-size: 1.5rem;
    font-weight: 600;
}

.cart--resultCard__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* Discount box */

.discountBox__cartDiscount{
    margin-top: 10px;
    margin-bottom: 40px;
}
.discountBox__cartDiscount form{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.discountBox__cartDiscount input{
    padding: 13px 5px 13px 10px;
    font-size: 1.0rem;
    border: none;
    width: 75%;
}

.discountBox__cartDiscount button{
    border: none;
    font-size: 1.0rem;
    font-weight: 600;
    color: var(--color-blancoApagado);
    background-color: var(--color-azulVioleta);
    padding: 13px 10px;
    width: 30%;
    max-width: 100px;
}

.cart--resultCard__cartDiscount {
    margin-top: 20px;
    margin-bottom: 30px;
}

.cart--resultCard__inside {
    margin: 20px 10px;
}

.cart--resultCard__cartDiscount p {
    font-weight: 600;
    margin-bottom: 10px
}

.cart--resultCard hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px;
    border-bottom: none;
    width: 90%;
    margin-left: 4%;
}

.cart--buttonOrder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart--resultCard__button {
    background-color: var(--color-azulVioleta);
    border: none;
    color: var(--color-blancoApagado);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 13px 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}


/* Recomendaciones en el carrito */

.cart--recommendations {
    border-top: solid 1px;
    margin-bottom: 100px;
}

.cart-recommendations__inside{
    
}

.cart--recommendations h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom:25px;
    font-weight: 500;
    margin-left: 1%;
}


.recommendations--cardCartInsider {
    margin: 15px 15px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.recommendations--cardCart__img {
    width: 30%;
}

.recommendationCart--card {
    border-bottom: solid var(--color-grisMetalico) 1px;
    margin: 15px 0px;

}

.course--cardCart{
    display: none;
}

.cart--recommendations__button {
    font-size: 1.0rem;
    background-color: var(--color-azulVioletaMuyTranslucido);
    border: solid var(--color-azulGrisaceo) 1px;
    color: var(--color-blancoApagado);
    font-weight: 500;
    padding: 10px 30px;
}

@media (min-width: 600px) and (max-width: 1024px) {

    /*Icono de cantidad en carrito en el header  */
    .cart--pending p {
        top: -9px;
        left: 25px;
    }

    /* Titulo  del carrito*/
    .cart--titles__inside{
    margin-left: 2.3%;
    }

    /* Cuerpo del  carrito */

    .cart--body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Tarjeta de producto en el carrito */

    .cart--bodyCard{
    width: 95%;
    margin-left: 0px;
    }

    .cart--bodyCard img{
        margin-left: 0px;
    }

    .cart--bodyCard__inside{
        margin-left:10px;
    }

    
    .cart--bodyCard__inside h3{
        font-size: 1.2rem;
}


    .cart--bodyCard__inside small {
    font-weight: 400;
    font-size: 0.9rem;
}

    .bodyCard__solePrice p{
        font-size: 1.2rem;
        margin-right: 0px;
}  

.cart--bodyCard--rating__extra{
    gap: 3px;
    display:flex;
    align-items: center;
    color: var(--color-amarilloDorado);
}

.cart--bodyCard--score {
    display: flex;
    align-items: center;
    gap: 3px;
}

.cart--bodyCard--score i {
    display: none;
}

.cart--bodyCard--rating__text {
    display: none
}

.score--quantity{
    display:block;
    font-weight: 500;

}

    /* Total del carrito */

    .cart--result{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .cart--resultCard{
    width: 95%;
    }

    .cart--total{
    font-size: 1.6rem;
    }

    .cart--totalPrice{
    font-size: 1.9rem;
}



    /* Discount Box */

    .cart--resultCard__discount{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    }

    .cart--resultCard__discount p{
    margin-left: 25px;
    width: 100%;
    font-size: 1.3rem;

    }
  
    .cart--resultCard__cartDiscount{
        margin-left: 20px;
    }
    .cart--buttonOrder{
    width: 100%;
}
    .cart--resultCard__button{
    width: 55%;
    max-width: 420px;
    }

    /* Recomendaciones en el carrito */

    .cart--recommendations{
    display: flex;
    flex-direction: column;
    align-items: center;

}
    .cart-recommendations__inside{
        width: 95%;
    }

    .cart--recommendations h2{
    font-size: 1.7rem;
    width: 100%;
    margin-left: 0px;
        margin-top: 15px;
        margin-bottom: 25px;
}

.recommendationCart--card{
width: 90%;
margin: 5px 0px;
}

.recommendations--card__inside{
    width: 100%;
}

.recommendations--cardCartInsider{
margin: 15px 6px;
}

.cart--recommendations__button{
width: 75%;
max-width: 365px;
}

}

@media (min-width: 1025px) {
/*Icono de cantidad en carrito en el header  */


/* Titulo  del carrito*/


/* Cuerpo del  carrito */

.cart--body {
    width: 95%;
    margin-left: 10px;
}

    .cart__top{
        display: flex;
        flex-direction: row;
       }
   
       .cart__upperTop{
   display: flex;
   flex-direction: column;
       }

/* Tarjeta de producto en el carrito */

.bodyCard__titles{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cart--bodyCard--deleteDesktop{
    display: flex;
    gap: 3px;

}

.cart--bodyCard--delete {
display: none;
}
/* Total del carrito */

.cart--resultCard__down{
    display: flex;
    flex-direction: column-reverse;
}

/* Discount Box */


/* Recomendaciones en el carrito */

.recommendationCart--card {
   display: none;
}

.course--cardCart{
    background-color: var(--color-grisOscuro);
    width: 80%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: solid var(--color-grisMetalico);
    border-width: 1px;

}

.course--cardDownCart{
    display: flex;
    padding-top: 5%;
    justify-content: center;
    margin-bottom: 15px;
}

.cart--recommendations__button {
width: 85%;
  }

}