
/* Sección: Seleccionador de partes del formulario */

.section--selectForms{

}

.selectForms--box{
    background-color: var(--color-azulGrisaceoTranslucido);
    border: solid var(--color-azulGrisaceo) 1px;
    border-radius: 5px;
}

.selectForms--box__inside{

}

.selectForms--box__inside button{

}

.toggle-button.selected {
    background-color: #007bff;
    color: white;
  }

/* Sección: Formulario */

.section--forms{

}

.section--forms form{

}


/* Cuerpo general del formulario */

.forms--box{
background: var(--color-grisOscuro);
    padding-top: 15px;
    display: none;
}

.forms--box.visible{
    display: block;
}

.forms--box__title{
border-bottom: 1px solid;
    margin-bottom: 25px;
}

.forms--box__title h1{
font-size: 1.6rem;
    margin-bottom: 15px;
    margin-left: 10px;
}

.forms--box__inputContainer{
margin-left: 10px;
}

.forms--box__inputContainer h3{
font-size: 0.9rem;
    font-weight: 600;
}

.forms--box__inputContainer input{
    border-radius: 5px;
    padding: 5px 60px;
}

.forms--box__inputContainer label{

}

/* Seleccionador */

.box--selects{

}

.forms--box__selectContainer{

}

.forms--box__selectContainer input{

}

.forms--box__selectContainer select{
color: black;
border-radius: 7px;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.selectGrey{
    color: grey;
}

.forms--box__selectContainer option{

}

.forms--box__selectContainer label{

}

/* Previews */

.forms--box__previewContainer{
margin-left: 10px;
margin-bottom: 20px;
}

.forms--box__previewContainer h3{
    font-size: 0.9rem;
    font-weight: 600;
}

.forms--box__previewContainer img{
    
}

.forms--box__previewContainer p{
font-size: 0.9;
}

.forms--box__fileInput{

}

.forms--box__fileInput label{

}

.forms--box__fileInput input{

}

/* Precio */

.forms--box__priceContainer{
margin-left: 10px;
}

.forms--box__priceContainer h3{
    font-size: 0.9rem;
    font-weight: 600;
}

.box--priceInput{

}

.box--priceInput label{

}

.box--priceInput input{
    border-radius: 5px;
    padding: 5px 0px;
    width: 100px;
    margin-bottom: 20px;
}


/* Índice del formulario */

.forms--boxIndex{

}

.forms--boxIndex__inside{

}

.forms--normalButton{

}


/* Programa del formulario */

.boxContent{
    border: solid 1px;
    margin-bottom: 20px;
}

.boxContent h3{
    font-size: 1.0rem;
    font-weight: 600;
    padding: 5px;
}

.boxInnerContent{
    border: solid 1px;
    margin-top: 5px;
    padding: 5px 0px;
    margin: 10px 5px;
}
.boxContent--inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 1px;
    margin-bottom: 10px;

}

.boxContent--title{
    display: flex;
    gap: 5px;
    font-size: 0.9rem;
}

.boxContent--title h4{
    font-weight: 500;
}

.boxContent__downButtons{
    gap: 7px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.boxContent__downButtons button{

}

.contentTab--button{

}

.contentMenu{
}

.hidden {
  display: none;
}
.visible {
  display: block;
}

.contentMenu--buttons{

}


.boxContent--newElement{

}

/* Item video */

.itemVideo--button{

}

.itemVideo--formBox{
display: none;
}

.itemVideo--formBox.visible{
    display: block;
    }


/* Item Diapositiva */
.itemSlide--button{

}

.itemSlide--formBox{
display: none;
}

.itemSlide--formBox.visible{
    display: block;
    }

.itemArticle--formBox{
display: none;
}

.itemArticle--formBox.visible{
    display: block;
    }

.itemResource--formBox{
display: none;
    }

.itemResource--formBox.visible{
display: block;
    }


.itemDescription--formBox{
    display: none;
}

.itemDescription--formBox.visible{
    display: block;
}

.contentPreview--box{
    display: none;
}

.contentPreview--box.visible{
display: block;
}

.dynamicForm--box{
    display: none;
}

.dynamicForm--box.visible{
display: block;
}

.resourcesContainer--title.hidden{
    display: none;
}

.resourcesContainer--title{
    display: block;
}

/* Item Artículo */
.itemArticle--button{

}

.itemArticle--formBox{
display: none;
}

.itemArticle--formBox.visible{
    display: block;
    }

/* Mensajes del curso */

.forms--boxMessages{

}


/* Promociones */

.box--couponsList{

}

.box--newCoupons{

}


/* Sección: Publicación */

.section--publish{

}

.publish__inside{

}

.publish--cancel{

}

.publish--send{
    
}
