.main--profile{

}

/* Nombre de usuario y Titular */

.userTitle--section{
    justify-items: center;
    margin-top: 45px;
}

.userTitle--card{
    border: solid 1px var(--color-blancoApagado);
    background-color: var(--color-grisOscuroTranslucido);
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 13px;
        width: 90%;
}

.userTitle--card h1{
    font-size: 2.6rem;
    margin-left: 0px;
    margin-bottom: 2px;
}

.userTitle--card h2{
    font-size: 1.8rem;
    font-weight: 300;
}

/* Avatar de usuario */

.userAvatar--section{
    justify-items: center;
    margin-top: 45px;
    
}

.userAvatar--card{
    width: 90%;
}

.userAvatar--card img{
    width: 100%;
    border: solid var(--color-blancoApagado) 1px;
    border-radius: 5px;
}

/* Editar Usuario */

.editUser--button{
    background-color: var(--color-purpuraClaroTranslucido);
    border: solid 1px var(--color-purpuraClaro);
    color: var(--color-blancoApagado);
    width: 100%;
    font-size: 1.5rem;
    padding: 12px 0px;
    border-radius: 5px;
    margin-top: 10px;
   
}

.editUser--button i{
    margin-right: 6px;
}

.editUser--button{

}

/* Cuerpo del Perfil */

.profileBody--section{
    justify-items: center;
    margin-top: 45px;
    margin-bottom: 205px;

}
.profileBody--sectionInside{
    width: 86%;
    border: solid var(--color-blancoApagado) 1px;
    padding: 13px 15px;
}

/* Descripción de perfil */

.profileBody--description{
    min-height: 240px;
}

.profileBody--description h3{
    font-size: 1.5rem;
}

.profileBody--description p{

}

/* Contenedor de tarjetas de Cursos del Usuario */

.profileBody--ownCourses{
    min-height: 355px;
}

.profileBody--ownCourses h3{
    font-size: 1.3rem;
}

.ownCourses--container{

}

/* Tarjeta de Cursos del Usuario */

.ownCourses--containerCard{
    border-top: solid var(--color-blancoApagado) 1px;
    margin-top: 15px;
}

.ownCourses--containerCardInside{
    margin: 5px;
    display: flex;
    margin: 10px 0px;
    }

.ownCourses--containerCard img{
    width: 140px;
    border-radius: 5px;
}

.ownCourses--containerCard__contents{
    margin-left: 10px;
}



.ownCourses--containerCard__contents h4{
    font-size: 1.3rem;
    font-weight: 500;
}

.ownCourses--containerCard__contentsDown{
    display: flex
;
    gap: 10px;
}

.ownCourses--containerCard__contentsRating{
    display: flex;
    gap: 5px;
    align-items: center;
}

.ownCourses--containerCard__contentsRating i{
color: var(--color-amarilloDorado);
}

.ownCourses--containerCard__contentsRating p {

}

.ownCourses--containerCard__contentsReview{
    display: flex;
    gap: 5px;
    align-items: center;
}

.ownCourses--containerCard__contentsReview i{

}

.ownCourses--containerCard__contentsReview p{

}

/* ProfileEdit view */

/* ProfileEdit section & title */

.profileEdit--section{
    display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 105px;
}

.profileEdit--sectionContainer{
width: 90%;
}

.profileEdit__title{
    background-color: var(--color-grisOscuroTranslucido2);
    border: solid 1px var(--color-blancoApagado);
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px;
}

.profileEdit__title h1{
    margin-left: 0px;
    font-size: 2rem;
}


/* ProfileEdit body */

.profileEdit__forms{
    
}

.profileEdit__formsContainer{
padding-left: 15px;
    padding-right: 15px;
        border: solid 1px var(--color-blancoApagado);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* ProfileEdit Inputs */

.profileEdit--inputContainer{
    margin-top: 15px;
}

.profileEdit--inputContainer h3{
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 5px;
}

.profileEdit--inputContainer__inside{
    margin-bottom: 10px;
}

.profileEdit--inputContainer__inside label{

}

.profileEdit--inputContainer__inside input{
    border-radius: 5px;
    width: 98%;
    font-size: 1rem;
    padding: 12px 0px;
    border: none;
    color: black;
    padding-left: 5px;
}

.profileEdit--inputContainer__inside textarea{
    border-radius: 5px;
    width: 98%;
    height: 90px;
    font-size: 1rem;
    padding: 12px 0px;
    padding-top: 5px;
    padding-bottom: 10px;
    border: none;
    color: black;
    padding-left: 5px;
    resize: none;
}

/* ProfileEdit Avatar image & input */

.profileEdit--avatarContainer{
    margin-top: 30px;
}

.profileEdit--avatarContainer h3{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 1rem;
}

.profileEdit--avatarImage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileEdit--avatarImage__inside{
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border: solid var(--color-azulGrisaceo) 1px;
}

.profileEdit--avatarImage img{
    width: 100%;
    border-radius: 10px;
}

.profileEdit--avatarImage p{
    margin-bottom: 10px;
}

.profileEdit--avatarInputContainer__input{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profileEdit--avatarInputContainer__input input{
    width: 40%;
    padding: 14px 0px;
    border-radius: 10px;
    position: absolute;
    opacity: 0%;
}

/* ProfileEdit submit button */

.profileEdit__buttonContainer{
    display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
        margin-top: 50px;
}

.profileEdit__button{
    border: none;
    color: var(--color-blancoApagado);
    background-color: var(--color-purpuraOscuro);
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 500;
}

/* ProfileEdit-security view */

.profileEditSecurity--section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 105px;
}

.profileEditSecurity__formsContainer{
   padding: 0px;
    border: solid 1px var(--color-blancoApagado);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.EditSecurity--divisionContainer{
    padding-left: 15px;
    padding-right: 15px;
}

.profileEdit--divisorLine{
    border-top: solid var(--color-blancoApagado) 1px;
    border-bottom: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Destroy account */

.profileDestroy--announce{
    margin-top: 10px;
}

.profileDestroy__text{

}

.destroy__text{
color: var(--color-rojoAviso);
font-weight: 600;
}

.profileDestroy__buttonContainer{
    display: flex;
        justify-content: flex-start;
        margin-bottom: 350px;
        margin-top: 50px;
}

.profileDestroy__button{
    border: none;
    color: var(--color-blancoApagado);
    background-color: var(--color-purpuraOscuro);
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
}