.main--profile{

}

/* Nombre de usuario y Titular */

.userTitle--section{
    justify-items: center;
    margin-top: 45px;
}

.userTitle--card{
    border: solid 1px var(--color-blancoApagado);
    background-color: var(--color-grisOscuroTranslucido);
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 13px;
        width: 90%;
}

.userTitle--card h1{
    font-size: 2.6rem;
    margin-left: 0px;
    margin-bottom: 2px;
}

.userTitle--card h2{
    font-size: 1.8rem;
    font-weight: 300;
}

/* Avatar de usuario */

.userAvatar--section{
    justify-items: center;
    margin-top: 45px;
}

.userAvatar--card{
    width: 90%;
}

.userAvatar--card img{
    width: 100%;
    border: solid var(--color-blancoApagado) 1px;
    border-radius: 5px;
}

/* Editar Usuario */

.editUser--button{
    background-color: var(--color-purpuraClaroTranslucido);
    border: solid 1px var(--color-purpuraClaro);
    color: var(--color-blancoApagado);
    width: 100%;
    font-size: 1.5rem;
    padding: 12px 0px;
    border-radius: 5px;
    margin-top: 15px;
   
}

.editUser--button i{
    margin-right: 6px;
}

.editUser--button{

}

/* Cuerpo del Perfil */

.profileBody--section{
    justify-items: center;
    margin-top: 30px;

}
.profileBody--sectionInside{
    width: 90%;
    border: solid var(--color-blancoApagado) 1px;
    padding: 13px 15px;
}

/* Descripción de perfil */

.profileBody--description{

}

.profileBody--description h3{

}

.profileBody--description p{

}

/* Contenedor de tarjetas de Cursos del Usuario */

.profileBody--ownCourses{

}

.profileBody--ownCourses h3{

}

.ownCourses--container{

}

/* Tarjeta de Cursos del Usuario */

.ownCourses--containerCard{

}

.ownCourses--containerCard img{

}

.ownCourses--containerCard__contents{

}

.ownCourses--containerCard__contents h4{

}

.ownCourses--containerCard__contentsInside{

}

.ownCourses--containerCard__contentsInside i{

}

.ownCourses--containerCard__contentsInside p {

}