/* Sección de Registro */
.main--register-login{
    background-image: url(/imgs/Images/login-wallpaper.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.register--section{

}

/* Cuerpo del Registro */
.registerCard{
    background-color: var(--color-negroRojizoTranslucido);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;

}

.registerCard--title{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 95%;
}
.registerCard--title h1{
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 0px
}
.registerCard--title hr{
    
}
.registerCard--body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
    width: 100%;
}

.registerCard--body form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerCard--bodyInputs{
    text-align: center;
    width: 100%;
}

.registerCard--bodyInputs input{
    padding: 15px 50px 15px 5px;
    font-size: 1rem;
    border: none;
    margin-bottom: 15px;
    width: 60%;
    color: black;
    border-radius: 7px;
}


/* Pie del registro */
.registerCard--body__button{
    border: none;
    background-color: var(--color-azulVioleta);
    color: var(--color-blancoApagado);
    font-size: 1.4rem;
    padding: 10px 15%;
    font-weight: 500;
}

.registerCard--footer{
margin-bottom: 45px;
text-align: center;
}

.registerCard--footer small{
font-size:0.9rem;
}

.registerCard--footer a{
font-weight: 700;
font-size: 1.1rem;
}



@media (min-width: 600px) and (max-width: 1024px) {

/* Sección de Registro */
.register--section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Cuerpo del Registro */
.registerCard {
width: 85%;
margin: 45px 10px;
margin-bottom: 80px
 }

 .registerCard--title h1 {
    font-size: 2.0rem;
 }

 .registerCard--bodyInputs input {
    font-size: 1.2rem;
    padding: 15px 90px 15px 10px;
 }
/* Pie del registro */


.registerCard--body__button {
font-size: 1.5rem;
padding: 10px 14%;

}

.registerCard--footer small {
    font-size: 1.2rem;
}


.registerCard--footer a {
font-size: 1.3rem;
}
}

@media (min-width: 1025px) {
.registerCard--title h1{
    font-size: 1.8rem;
}
}