@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(./general.css);
@import url(./variables.css);
@import url(./index.css);
@import url(./productDetail.css);
@import url(./productCart.css);
@import url(./register.css);
@import url(./login.css);
@import url(./productAdd.css);
@import url(./products.css);
@import url(./adminInterface.css);
@import url(./profile.css);

/* Header */
.header--body{
    background-color: rgba(44, 44, 44, 0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position:sticky;
    top: 0;
    z-index: 3;

    
}
.header--body_card{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 15px;
    margin-right: 20px;
    
}



.header--navbar{
    opacity: 0;
    visibility: hidden;
display: flex;
flex-direction: column;
position: absolute;
top: 79px;
    left: 0;
    background-color: var(--color-grisOscuro);
    
    padding-bottom: 156%;
    width: 55%;
    /* box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5); */
}

.header--navbar.visible{
    opacity: 1;
    visibility: visible;
}

.header--navbar li{
    
}

.header--navbar li a{
    text-decoration: none;
    color: var(--color-blancoApagado);
}

.header--navbar__hub{
display: flex;
gap: 15px;
list-style-type: none;
flex-direction: column ;
padding-left: 20px;
margin-bottom: 15px;

}

.header--navbar__signup{
display: flex;
list-style-type: none;
padding-left: 20px;

}

.header--body img{
    width: 220px;
}

.burger-menu{
    background: none;
    border: none;
    color: var(--color-blancoApagado);
}

.fa-bars{
    font-size: 38px;
    margin-right: 10px;

}
.fa-cart-shopping{
    
    font-size: 33px;
}

/* User logged */

.userMenu--box{
background-color: rgba(47, 79, 255, 0.4);
/* background-color: rgba(71, 52, 129, 0.4) */
border-bottom: 1px solid var(--color-blancoApagado);
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.userMenu--box img{
    width: 25%;
    border-radius: 300px;
}

.userMenu--box__text{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.userMenu--box__text i{
    align-content: center;
        font-size: 1.2rem;
}

.userMenu--box__textInside{

}

.userMenu--box__textInside p{
    font-weight: 400;
    font-size: 1.1rem;
}

.userMenu--box__textInside small{
    font-size: 0.9rem;
}


/* Footers */

.footer--body{
background-color: var(--color-grisOscuro);
display: flex;
flex-direction: column;
align-items: center;

}

.footer--up{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container__footer--logo{

}
.footer--info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

.footer--info__card{
}


.footer--info h3{
font-size: 1.6rem;
margin-bottom: 5px;
font-weight: 500;
}
.footer--info h4{
    font-weight: 700;
}
.footer--info p{
    margin: 3px 0px;
}
.footer--logo{
    width: 200px;
    margin-top: 70px;
    margin-bottom: 5px
}
.footer--line{
    background-color: var(--color-blancoApagado);
    width: 100%;    
}
.footer--down{
 margin-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.footer--socialMedia{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    gap: 12px
}
.footer--body small{
    margin-bottom: 25px;
    font-size: 0.7rem;
}



@media (min-width: 600px) and (max-width: 1024px) {

    /* Header */
    .header--body_card{
        margin-left: 20px;
        margin-right: 25px;
    }
    .fa-bars{
        font-size: 2.6rem;
        margin-right: 10px;
    
    }
    .header--body img{
        width: 240px;
    }
    .fa-cart-shopping{
        
        font-size: 2.4rem;
    }
    .header--navbar{
        top: 84px;
        padding-bottom: 100%;
        width: 50%;
    }

  
    /* Footer */
    .footer--info{
        display: flex;
        flex-direction: row;
        gap: 30%;
        margin-top: 20px;
        width: 100%;
        justify-content: space-around;
        margin-right: 10px;
        margin-left: 10px;
    }

}


@media (min-width: 1025px) {
    /*Header */
    .burger-menu{
        display: none;
    }
    
    .header--navbar{
        visibility: visible;
        opacity: 1;
        position: static;
        background: none;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-top: 0px;
        flex-direction: row;
        gap: 15px;
        order: 2;
        width: 100%;
        justify-content: space-between;
    }

    .header--navbar__hub{
        flex-direction: row;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    }

    .header--navbar__signup {
        padding-left: 0px;
        margin-right: 20px;
    }


    .logo--image{
        order: 1;
    }

    .cart{
        order: 3;
    }


    .userMenu--box{
        display: none;
    }

    /* Footer */

    .footer--up{
        flex-direction: row-reverse;
    }
    .container__footer--logo{

    }

    .footer--info{
        width: auto;
        gap: 285px;
        justify-content: space-around;
    }

    .container__footer--logo {
        width: 40%;
        align-self: start;
    }

    .footer--logo{
        margin-top: 20px;
        align-self: start;
    }
}