@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(./general.css);
@import url(./variables.css);
@import url(./index.css);
@import url(./productDetail.css);
@import url(./productCart.css);
@import url(./register.css);
@import url(./login.css);

/* Header */
.header--body{
    background-color: rgba(44, 44, 44, 0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position:sticky;
    top: 0;
    z-index: 3;

    
}
.header--body_card{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    
}
.header--body img{
    width: 220px;
}

.fa-bars{
    font-size: 38px;
    margin-right: 10px;

}
.fa-cart-shopping{
    
    font-size: 33px;
}


/* Footers */

.footer--body{
background-color: var(--color-grisOscuro);
display: flex;
flex-direction: column;
align-items: center;

}
.footer--info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-left: 5px;
    
}

.footer--info__card{

}
.footer--info h3{
font-size: 1.6rem;
margin-bottom: 5px;
font-weight: 500;
}
.footer--info h4{
    font-weight: 700;
}
.footer--info p{
    margin: 3px 0px;
}
.footer--logo{
    width: 200px;
    margin-top: 100px;
    margin-bottom: 5px
}
.footer--line{
    background-color: var(--color-blancoApagado);
    padding: 0px 158px;
    
}
.footer--down{
 margin-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer--socialMedia{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    gap: 12px
}
.footer--body small{
    margin-bottom: 25px;
    font-size: 0.7rem;
}