<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel = "stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/8b20537db2.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="header--body"><div class="header--body_card">
        <i class="fa-solid fa-bars"></i>
        <a href="/">
<img src="/imgs/pageLogo/Logo_Completo.png" alt="ZeroTrust Logo"></a>

<a href="#">
<i class="fa-solid fa-cart-shopping"></i></a>
</div>

    </header>

    <main><section class="aboutUs--card">
<img class="aboutUs" src="/imgs/Images/About us 2.png" alt="">
<button class="aboutUs__button">Sobre Nosotros</button>
</section>
    </main>


    <footer class="footer--body">
        <section class="footer--section">
<div class="footer--section__card">
<h4>Información</h4>
<p>LinkInstructivo 1</p>
<p>LinkInstructivo 2</p>
<p>LinkInstructivo 3</p>
</div>

<div class="footer-section__card">
    <h4>Contáctanos</h4>
    <p>ZeroTrust Lab</p>
    <p>Av Boedo 1235</p>
    <p>Capital Federal, Argentina</p>
    <p>11 2564-1142</p>
    <p>Zerotrust@gmail.com</p>
</div>
</section>
<img src="/imgs/pageLogo/Logo_Completo.png">
<p>“Dominio Total, Confianza Cero”</p>
<hr>
<div>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-linkedin-in"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-x-twitter"></i>

</div>
<small>© 2024 ZeroTrust Lab. Todos los derechos reservados</small>
    </footer>
</body>
</html>