<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel = "stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/8b20537db2.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="header--body"><div class="header--body_card">
        <i class="fa-solid fa-bars"></i>
        <a href="/">
<img src="/imgs/pageLogo/Logo_Completo.png" alt="ZeroTrust Logo"></a>

<a href="#">
<i class="fa-solid fa-cart-shopping"></i></a>
</div>

    </header>

    <main>
        <section class="aboutUs--card">
<img class="aboutUs" src="/imgs/Images/About us 2.png" alt="">
<button class="aboutUs__button">Sobre Nosotros</button>
</section>

<h1 class="courses-title">Algunos Cursos</h1>
<section class="section--courseCards">
<article class="course--card">
   
    <img class="course--card__photo" src="/imgs/Images/course-image.jpg" alt="Imagen de Curso">
    <h3>Seguridad Informática desde Cero</h3>
    <small>Josué Argañaraz</small>
    <div class="course--card__rating">
    <p>4.0</p> 
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-regular fa-star"></i>
</div>
    <p class="course--card__price">$15.000</p>
    <div class="course--cardDown">
    <button class="course--card__previewButton">Ver más</button>
</div>
</article>
</section>

<h2 class="categories--title">Descubre el área en Ciberseguridad que te gustaría formarte</h2>
<section class="categoriesMain">
<article class="categoriesMain--Fundamental">
    <img class="categoriesCard--icon" src="/imgs/Icons/Classroom.png" alt="Icono Fundamentos en Ciberseguridad">
    <h3>Fundamentos de la Ciberseguridad</h3> <i class="fa-solid fa-plus"></i>
</article>

<article class="categoriesMain--Attack">
    <img class="categoriesCard--icon" src="/imgs/Icons/Accuracy.png" alt="Icono Seguridad Ofensiva">
    <div class="categories--cardInside">
    <div class="categories--cardUpper">
    <h3 class="categoriesCard--title">Seguridad Ofensiva</h3>

</div>
<hr class="categories--cardLine">
<div class="categories--cardDown">
    <div class="card--categories">
    <h4 class="subcategories--title">Hacking de Aplicaciones Web</h4> <i class="fa-solid fa-plus"></i>
    </div>
    <div class="card--categories">
    <h4 class="subcategories--title">Pentesting</h4> <i class="fa-solid fa-plus"></i>
</div>
<div class="card--categories">
    <h4 class="subcategories--title">Explotación de vulnerabilidades</h4> <i class="fa-solid fa-plus"></i>

</div>
</div>
</article>

<article class="categoriesMain--Defense">
    <img class="categoriesCard--icon" src="/imgs/Icons/Security Lock.png" alt="Icono Seguridad Ofensiva">
    <div class="categories--cardInside">
    <div class="categories--cardUpper">
    <h3 class="categoriesCard--title">Seguridad Defensiva</h3>
</div>
<hr class="categories--cardLine">
<div class="categories--cardDown">
    <div class="card--categories">
    <h4 class="subcategories--title">Fortificación de Redes</h4> <i class="fa-solid fa-plus"></i>
    </div>
    <div class="card--categories">
    <h4 class="subcategories--title">Respuesta a Incidentes</h4> <i class="fa-solid fa-plus"></i>
</div>
<div class="card--categories">
    <h4 class="subcategories--title">Análisis de Malware</h4> <i class="fa-solid fa-plus"></i>
</div>
</div>
</article>

<article class="categoriesMain--cloudSecurity">
    <img class="categoriesCard--icon" src="/imgs/Icons/Cloud Development.png" alt="Icono Seguridad Ofensiva">
    <div class="categories--cardInside">
    <div class="categories--cardUpper">
    <h3 class="categoriesCard--title">Seguridad de Nube</h3>
</div>
<hr class="categories--cardLine">
<div class="categories--cardDown">
    <div class="card--categories">
    <h4 class="subcategories--title">Gestión de Identidades y Accesos (IAM)</h4> <i class="fa-solid fa-plus"></i>
    </div>
    <div class="card--categories">
    <h4 class="subcategories--title">Arquitectura Segura en la Nube</h4> <i class="fa-solid fa-plus"></i>
</div>
<div class="card--categories">
    <h4 class="subcategories--title">Respuestas a Incidentes en Cloud</h4> <i class="fa-solid fa-plus"></i>
</div>
</div>
</article>

<article class="categoriesMain--Social">
    <img class="categoriesCard--icon" src="/imgs/Icons/Safety Collection Place.png" alt="Icono Seguridad Ofensiva">
    <div class="categories--cardInside">
    <div class="categories--cardUpper">
    <h3 class="categoriesCard--title">Ingeniería Social</h3>
</div>
<hr class="categories--cardLine">
<div class="categories--cardDown">
    <div class="card--categories">
    <h4 class="subcategories--title">Técnicas de Ingeniería Social</h4> <i class="fa-solid fa-plus"></i>
    </div>
    <div class="card--categories">
    <h4 class="subcategories--title">Concientización y Educación</h4> <i class="fa-solid fa-plus"></i>
</div>
</div>
</article>


</section>
<hr class="separationLine">
<h2 class="testimonies--title">Testimonios</h2>
<section class="section--testimonies">
    <article class="testimonies--body">
        <div class="testimonie--inside">
        <div class="testimonies--Upperbody">
        <img class="testimonie--image" src="/imgs/Images/duane.CAyBZp_- 8.png" alt="Imagen de Persona">
        <div class="testimonie-identity"><h3 class="testimonie--name">Nombre Persona</h3>
        <small class="testimonie--charge">Cargo/Posición</small>
    </div>
    </div>
        <p class="testimonie-description">Descripción testimonial</p>
    </div>


    </article>

</section>

<hr class="separationLine">

<h2 class="news--title">Noticias</h2>

<section class="section--news">

    <article class="news--card">
        <img class="news--card__image" src="/imgs/Images/Evolve-blog-post-header-450x236 11.png" alt="Imagen de Noticia">
        <div class="news--cardInside">
        <small class="news--card__category">Temática</small>
        <h3 class="news--card__title">Título de Noticia</h3>
        <p class="news--card__description">Descripción breve</p>
    </div>
        <small class="news--card__date">Día/Mes/Año</small>

    </article>
    <button class="news--seeMoreButton">Ver todas las noticias</button>
</section>
<hr class="separationLine">
<section class="section--trustedClients">
<p>Trusted by</p>
<div class="trustedBy--logos">
<img src="/imgs/Logos/3a5454d32fdca408d3c24c45a844c0bb.png" alt="Microsoft logo">
<img src="/imgs/Logos/amazon 2.png" alt="Amazon logo">
<img src="/imgs/Logos/vecteezy_ibm-logo-brand-software-computer-symbol-black-design-vector_21515084-removebg-preview 2.png" alt="Ibm logo">
<img src="/imgs/Logos/cisco_logo_icon_145406 2.png" alt="Cisco logo">
</div>

</section>

    </main>


    <footer class="footer--body">
        <div class="footer--info">
<div class="footer--info__card">
<h3>Información</h3>
<p>LinkInstructivo 1</p>
<p>LinkInstructivo 2</p>
<p>LinkInstructivo 3</p>
</div>

<div class="footer--info__card">
    <h3>Contáctanos</h3>
    <h4>ZeroTrust Lab</h4>
    <p>Av Boedo 1235</p>
    <p>Capital Federal, Argentina</p>
    <p>11 2564-1142</p>
    <p>Zerotrust@gmail.com</p>
</div>
</div>
<img class="footer--logo" src="/imgs/pageLogo/Logo_Completo.png">
<p>“Dominio Total, Confianza Cero”</p>
<div class="footer--down">
    <hr class="footer--line">
<div class="footer--socialMedia">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-linkedin-in"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-x-twitter"></i>

</div>
<small>© 2024 ZeroTrust Lab. Todos los derechos reservados</small></div>
    </footer>
</body>
</html>