<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel = "stylesheet" href="/public/css/styles.css">
    <script src="https://kit.fontawesome.com/8b20537db2.js" crossorigin="anonymous"></script>

</head>
<body class="main">
    <h1>Prueba</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque autem assumenda accusamus dignissimos facilis iste odit qui. Nemo facere alias sed! Alias vero iusto quas doloribus harum culpa est quaerat veniam adipisci nam dolorem id dignissimos saepe necessitatibus ullam, officiis sed voluptatem rem recusandae ipsam ex odit minima mollitia? Sapiente!</p>
</body>
</html>