<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
    <link rel = "stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/8b20537db2.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header class="header--body"><div class="header--body_card">
        <i class="fa-solid fa-bars"></i>
        <a href="/">
<img src="/imgs/pageLogo/Logo_Completo.png" alt="ZeroTrust Logo"></a>

<a href="#">
<i class="fa-solid fa-cart-shopping"></i></a>
</div>

    </header>

    <main>
        <section class="register--section">
            <article class="registerCard">
                <div class="loginCard--title">
                <h1>Inicia Sesión</h1>
                <hr>
            </div>
        
            <div class="loginCard--body">
                <form action="POST">
                    <div class="registerCard--bodyInputs">
                    <input  type="text" name="username" id="username" placeholder="Nombre de usuario">
                    <label for="username"></label>
                    </div>
        
                    <div class="registerCard--bodyInputs">
                        <input  type="text" name="password" id="password" placeholder="Contraseña">
                        <label for="password"></label>
                        
                    </div>
                    <div>
                        <input type="checkbox" name="remember" value="yes">
                        <label for="remember">Recuérdame</label>

                    </div>
        </form>
                    <button class="loginCard--body__button">Ingresar</button>
                    
                
                
            </div>
            <div class="loginCard--footer">
            <small>¿No tienes una cuenta?</small>
            <a href="/register">Regístrate</a>
        </div>
            </article>
        </section>
    </main>

    <footer class="footer--body">
        <div class="footer--info">
<div class="footer--info__card">
<h3>Información</h3>
<p>LinkInstructivo 1</p>
<p>LinkInstructivo 2</p>
<p>LinkInstructivo 3</p>
</div>

<div class="footer--contact__card">
    <h3>Contáctanos</h3>
    <h4>ZeroTrust Lab</h4>
    <p>Av Boedo 1235</p>
    <p>Capital Federal, Argentina</p>
    <p>11 2564-1142</p>
    <p>Zerotrust@gmail.com</p>
</div>
</div>
<img class="footer--logo" src="/imgs/pageLogo/Logo_Completo.png">
<p>“Dominio Total, Confianza Cero”</p>
<div class="footer--down">
    <hr class="footer--line">
<div class="footer--socialMedia">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-linkedin-in"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-x-twitter"></i>

</div>
<small>© 2024 ZeroTrust Lab. Todos los derechos reservados</small></div>
    </footer>
</body>
</html>