<header class="header--body"><div class="header--body_card">
    <button id="burgerMenu" class="burger-menu"><i class="fa-solid fa-bars"></i></button> 
     <nav class="header--navbar" id="nav">
         <ul class="header--navbar__hub"> 
             <li>Inicio</li>
             <li>Cursos</li>
             <li>Recursos</li>
         </ul>
         <ul class="header--navbar__signup">
             <li>Iniciar Sesión</li>
         </ul>
     </nav>

     <a class="logo--image" href="/">
<img src="/imgs/pageLogo/Logo_Completo.png" alt="ZeroTrust Logo"></a>

<div class="cart--pending">
    <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
<p>1</p>
</div>
</div>

 </header>