<div class="itemVideo" data-id="<%= id %>">
<div> <button type="button" class="itemVideo--button" data-target="formsVideoContainer1">Cargar video</button><button type="button" class="itemVideo--button" data-target="formsVideoContainer2">Insertar por URL</button></div>
<div class="forms--box__inputContainer">
    <div id="formsVideoContainer1" class="itemVideo--formBox visible">
    <label for=""></label>
    <input type="file" name="" id="">

    <button>Subir video</button>
</div>

<div id="formsVideoContainer2" class="itemVideo--formBox">
    <label for=""></label>
    <input type="text" name="" id="">

    <button>Añadir enlace</button>
</div>

</div>