<div class="forms--box__inputContainer">
    <div class="contentPreview--box">
        <p class="contentPreview">Título del recurso</p>
        
        <button>Editar</button>
        <button>Borrar</button>
      </div>
    <h3>Descripción</h3>
    <label for=""></label>
    <input type="text" name="" id="">

</div>