<div class="itemArticle" data-id="<%= id %>">
    <div> <button type="button" class="itemArticle--button" data-target="formsArticleContainer1">Cargar video</button><button type="button" class="itemArticle--button" data-target="formsArticleContainer2">Insertar por URL</button></div>
    <div class="forms--box__inputContainer">
        <div id="formsArticleContainer1" class="itemArticle--formBox visible">
        <label for=""></label>
        <input type="file" name="" id="">
    
        <button>Subir video</button>
    </div>
    
    <div id="formsArticleContainer2" class="itemArticle--formBox">
        <label for=""></label>
        <input type="text" name="" id="">
    
        <button>Añadir Articulo</button>
    </div>
    
    </div>