<div class="itemSlide" data-id="<%= id %>">
    <div> <button type="button" class="itemSlide--button" data-target="formsSlideContainer1">Cargar Diapositiva</button><button type="button" class="itemSlide--button" data-target="formsSlideContainer2">Insertar por URL</button></div>
    <div class="forms--box__inputContainer">
        <div id="formsSlideContainer1" class="itemSlide--formBox visible">
        <label for=""></label>
        <input type="file" name="" id="">
    
        <button>Subir video</button>
    </div>
    
    <div id="formsSlideContainer2" class="itemSlide--formBox">
        <label for=""></label>
        <input type="text" name="" id="">
    
        <button>Añadir enlace</button>
    </div>
    
    </div>