<div class="forms--box__inputContainer">
    <div class="contentPreview--box">
        <p class="contentPreview">Título del recurso</p>
        <button type="button" class="edit-button">Editar</button>
      <button type="button" class="delete-button">Borrar</button>
      </div>
      <div class="dynamicForm--box visible">

        <div class="forms--box__inputContainer">
          <div class="itemDescription--formBox visible">
            <label for="descriptionTitle">Descripcion</label>
            <input type="text" name="descriptionTitle" id="descriptionTitle">

            <button type="button" class="save-button">Subir Descripción</button>
          </div>


</div>
</div>