<div class="forms--box__previewContainer">
    <h3>Imagen del curso</h3>
    <img>
    <p>Carga la imagen de tu curso aquí. Se recomienda que tenga los formatos: .jpg, .jpeg, .gif, o .png; Y sin texto en la imagen</p>
<div class="forms--box__fileInput">
    <label for=""></label>
<input type="file" name="" id="">
</div>
</div>