<div class="itemVideo" data-id="<%= id %>">
<div> <button>Cargar video</button><button>Insertar por URL</button></div>
<div class="forms--box__inputContainer">
    <div>
    <label for=""></label>
    <input type="file" name="" id=""></div>

    <button>Subir video</button>
</div>

<div>
    <label for=""></label>
    <input type="text" name="" id="">

    <button>Añadir enlace</button>
</div>

</div>