<div class="itemArticle" data-id="<%= id %>">
    <div class="contentPreview--box">
      <p class="contentPreview">Título del Artículo</p>
      <button type="button" class="edit-button">Editar</button>
      <button type="button" class="delete-button">Borrar</button>
    </div>
    <div class="dynamicForm--box visible">
      <div class="forms--box__inputContainer">
        <div class="itemArticle--formBox visible">
          <label for="articleTitle">Título del Artículo</label>
          <input type="text" name="articleTitle" id="articleTitle">
          <label for="articleContent">Contenido</label>
          <textarea name="articleContent" id="articleContent"></textarea>
          <button type="button" class="save-button">Subir Artículo</button>
        </div>
      </div>
    </div>
  </div>
  