<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    
        <%- include('../partials/head') %>
        
<body>
        <%- include('../partials/header') %>
    <main>
<!-- Menú toggle de Administrador -->
<section class="administratorMenu">
    <article class="administratorMenu--box">
    <div class="administratorMenu--buttonsContainer">
        <button><i class="fa-solid fa-chart-pie"></i></button>
        <hr>
        <button><i class="fa-solid fa-user"></i></button>
        <hr>
        <button><i class="fa-solid fa-cube"></i></button>
        <hr>
        <button><i class="fa-solid fa-newspaper"></i></button>
        <hr>
        <button><i class="fa-solid fa-quote-left"></i></button>
        <hr>
        <button><i class="fa-solid fa-database"></i></button>
    </div>
</article>
</section>

<!-- Título de la sección del perfil de admin -->


<section class="admin-title">
<h1>Lista de Productos</h1>
</section>
<!-- Caja de búsqueda -->

<section class="productListSearch">
    <article class="productListSearch--box">
        <div class="productListSearch__searchBar">
            <label for=""></label>
            <input placeholder="Buscar cualquier cosa" type="text" name="" id="">
            <button class="productListSearch__searchButton"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
       
        <div class="productListSearch__selectBar">
        <div class="productListSearch__selectContainer">
            <label for=""></label>
           <select name="" id="categoria" onchange="actualizarSubcategorias()">
            <option class="catalog-grey" value="" selected disabled>Categorías</option>
            <option value="">Fundamentos de la Ciberseguridad</option>
            <option value="seguridadOfensiva">Seguridad Ofensiva</option>
            <option value="seguridadDefensiva">Seguridad Defensiva</option>
            <option value="seguridadNube">Seguridad de Nube</option>
            <option value="ingenieriaSocial">Ingeniería Social</option>
        
        
           </select>
        </div>
        
        <div class="productListSearch__selectContainer">
            <label for=""></label>
           <select name="" id="subcategoria">
            <option class="catalog-grey" value="" selected disabled>Subcate...</option>
        
           </select>
        </div>
        
        <button class="productListSearch__filterCategoriesButton"><i class="fa-solid fa-filter"></i></button>
    </div>
    </article>
</section>

<!-- Container de Lista de Productos -->
<section class="productList">
<div class="productList--inside">

<article class="productList--card">
    <img src="/imgs/Images/photo preview.webp" alt=""> 
    <div class="productList--cardStructure">
    <div class="productList--cardStructureInside">
    <h3 class="productList--card__title">Nombre del curso</h3>
    <small class="productList--card__author">Nombre del autor del curso</small>
    <div class="productList--card__tag">
        <p class="productList--card__tagTitle">Seguridad Ofensiva</p>
    </div>
    </div>
    
    <div class="productList--card__optionsContainer">
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
    <button><i class="fa-solid fa-pen"></i></button>
    <button><i class="fa-solid fa-trash"></i></button>
</div>
</div>
</div>
</article>

<article class="productList--card">
    <img src="/imgs/Images/photo preview.webp" alt=""> 
    <div class="productList--cardStructure">
    <div class="productList--cardStructureInside">
    <h3 class="productList--card__title">Nombre del curso</h3>
    <small class="productList--card__author">Nombre del autor del curso</small>
    <div class="productList--card__tag">
        <p class="productList--card__tagTitle">Seguridad Ofensiva</p>
    </div>
    </div>
    
    <div class="productList--card__optionsContainer">
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
    <button><i class="fa-solid fa-pen"></i></button>
    <button><i class="fa-solid fa-trash"></i></button>
</div>
</div>
</div>
</article>


<article class="productList--card">
    <img src="/imgs/Images/photo preview.webp" alt=""> 
    <div class="productList--cardStructure">
    <div class="productList--cardStructureInside">
    <h3 class="productList--card__title">Nombre del curso</h3>
    <small class="productList--card__author">Nombre del autor del curso</small>
    <div class="productList--card__tag">
        <p class="productList--card__tagTitle">Seguridad Ofensiva</p>
    </div>
    </div>
    
    <div class="productList--card__optionsContainer">
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
    <button><i class="fa-solid fa-pen"></i></button>
    <button><i class="fa-solid fa-trash"></i></button>
</div>
</div>
</div>
</article>


<article class="productList--card">
    <img src="/imgs/Images/photo preview.webp" alt=""> 
    <div class="productList--cardStructure">
    <div class="productList--cardStructureInside">
    <h3 class="productList--card__title">Nombre del curso</h3>
    <small class="productList--card__author">Nombre del autor del curso</small>
    <div class="productList--card__tag">
        <p class="productList--card__tagTitle">Seguridad Ofensiva</p>
    </div>
    </div>
    
    <div class="productList--card__optionsContainer">
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
    <button><i class="fa-solid fa-pen"></i></button>
    <button><i class="fa-solid fa-trash"></i></button>
</div>
</div>
</div>
</article>

</div>
</section>
        

<!-- Paginador -->

<div class="adminListPaginator--box"> 
    <div class="paginator--boxInside">
    <button class="paginator__buttonLeft" disabled><i class="fa-solid fa-chevron-left"></i></button>
    <div class="paginator--numbersContainer">
     <p class="selectedNumber">1</p> <p>2</p> <p>3</p> 
    </div>
     <button class="paginator__buttonRight"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
</div>
    </main>
    
<%- include('../partials/footer') %>
<script src="/js/subcategories.js"></script>


    
</body>
</html>