<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>


    <main class="main--register-login">
        <section class="register--section">
            <article class="registerCard">
                <div class="loginCard--title">
                <h1>Inicia Sesión</h1>
                <hr>
            </div>
        
            <div class="loginCard--body">
                <form action="/login" method="post">
                    <div class="loginCard__inside">
                    <div class="loginCard--bodyInputs">
                    <input  type="text" name="username" id="username" placeholder="Nombre de usuario">
                    <label for="username"></label>
                    </div>
        
                    <div class="loginCard--bodyInputs">
                        <input  type="password" name="password" id="password" placeholder="Contraseña">
                        <label for="password"></label>
                        
                    </div>
                    <div class="loginCard__checkBox">
                        <input type="checkbox" name="rememberme" id="rememberme">
                        <label for="rememberme">Recuérdame</label>

                    </div>
                </div>
                <button type="submit" class="loginCard--body__button">Ingresar</button>

        </form>
                    
                
                
            </div>
            <div class="loginCard--footer">
            <small>¿No tienes una cuenta?</small>
            <a href="/register">Regístrate</a>
        </div>
            </article>
        </section>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>