<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>
    
        <%- include('../partials/header') %>
    
<main class="profileEdit--main">

<!-- Sección del Menu del perfil de usuario-->

<section class="profileUserMenu--section">
<div class="profileUserMenu--sectionContainer">
    <div class="profileMenu--imageContainer">
    <img src="/imgs/Images/pngegg 7.png" alt="">
    <h2>Nombre de usuario</h2>
</div>

<div class="profileUserMenu--options">

<div class="profileUserMenu--selected"><a href="/profile/edit"><h3>Perfil</h3></a></div> 

<a href="/profile/edit-security"><h3>Seguridad de Cuenta</h3></a>

<a href="/profile/my-courses"><h3>Cursos</h3></a>

<a href="/profile/create"><h3>Creación de Cursos</h3></a>

<a href="/profile/delete-account"><h3>Cerrar Cuenta</h3></a>
</div>

</div>
</section>

<!-- Sección de la edición del Perfil -->

<section class="profileEdit--section">

<div class="profileEdit--sectionContainer">

    <div class="profileEdit__title"><h1>Perfil Personal</h1></div>

<form class="profileEdit__forms" action='/users/edit' method="POST" enctype="multipart/form-data">
   <div class="profileEdit__formsContainer">
    <div class="profileEdit--inputContainer">
        <h3>Básico:</h3>
        <div class="profileEdit--inputContainer__inside">
        <label for="user_firstname"></label>
        <input type="text" name="user_firstname" id="user_firstname" placeholder="Nombre"> </input>
    </div>
    <div class="profileEdit--inputContainer__inside">
        <label for="user_surname"></label>
        <input type="text" name="user_surname" id="user_surname" placeholder="Apellido"> </input>
    </div>
    
    </div>
     <div class="profileEdit--inputContainer">
        <h3>Titular:</h3>
        <div class="profileEdit--inputContainer__inside">
        <label for="user_headline"></label>
        <input type="text" name="user_headline" id="user_headline" placeholder="Titular"> </input>
    </div>
     <div class="profileEdit--inputContainer">
        <h3>Descripción:</h3>
        <div class="profileEdit--inputContainer__inside">
        <label for="user_description"></label>
        <textarea name="user_description" id="user_description" placeholder="Descripción personal"></textarea>
    </div>
    <div class="profileEdit--avatarContainer">
        <h3>Imagen de perfil</h3>
        <div class="profileEdit--avatarImage">
            <div class="profileEdit--avatarImage__inside">
            <img src="/imgs/Images/photo preview.webp" alt="Avatar de usuario">
        </div>
        <p>Agregar / Cambiar imagen de perfil</p>
    </div>
<div class="profileEdit--avatarInputContainer__input">
    <input type="file" name="avatar" id="avatar">
    <div class="pseudoButton">
        <p class="pseudoButton--title">Subir archivo</p>
    </div>
</div>
    </div>
    
    </div>
</div>
<div class="profileEdit__buttonContainer">
<button class="profileEdit__button" type="submit">Guardar</button>
</div>
</form>

</div>
</section>    
</main>

    <%- include('../partials/footer') %>
    
    <!-- Agregar los elementos del profileEdit -->
    <script src="/js/previewImage.js"></script>
</body>
</html>