<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

    <main class="profileEdit--main">

        <!-- Sección del Menu del perfil de usuario-->
        
        <section class="profileUserMenu--section">
        <div class="profileUserMenu--sectionContainer">
            <div class="profileMenu--imageContainer">
            <img src="/imgs/Images/pngegg 7.png" alt="">
            <h2>Nombre de usuario</h2>
        </div>
        
        <div class="profileUserMenu--options">
        
        <a href="/profile/edit"><h3>Perfil</h3></a>
        
      <div class="profileUserMenu--selected">  <a href="/profile/edit-security"><h3>Seguridad de Cuenta</h3></a> </div> 
        
        <a href="/profile/my-courses"><h3>Cursos</h3></a>
        
        <a href="/profile/create"><h3>Creación de Cursos</h3></a>
        
        <a href="/profile/delete-account"><h3>Cerrar Cuenta</h3></a>
        </div>
        
        </div>
        </section>
    <section class="profileEditSecurity--section">
        <div class="profileEdit--sectionContainer">
        <div class="profileEdit__title"><h1>Seguridad de Cuenta</h1></div>
    
    <form class="profileEdit__forms" action='/users/edit-security' method="POST" enctype="multipart/form-data">

        
        <div class="profileEditSecurity__formsContainer">
            <div class="EditSecurity--divisionContainer">
            <div class="profileEdit--inputContainer">
                <h3>Usuario:</h3>
                <div class="profileEdit--inputContainer__inside">
                <label for="username"></label>
                <input type="text" name="username" id="username" placeholder="Nombre de Usuario"> </input>
            </div>
            </div>
             <div class="profileEdit--inputContainer">
                <h3>Email:</h3>
                <div class="profileEdit--inputContainer__inside">
                <label for="email"></label>
                <input type="text" name="email" id="email" placeholder="Correo electrónico"> </input>
            </div>
            </div>
</div>
         <hr class="profileEdit--divisorLine">

         <div class="EditSecurity--divisionContainer">
         <div class="profileEdit--inputContainer">
            <h3>Contraseña:</h3>
            <div class="profileEdit--inputContainer__inside">
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="Ingresa la nueva contraseña"> </input>
        </div>
        </div>
        <div class="profileEdit--inputContainer">
            <div class="profileEdit--inputContainer__inside">
            <label for="password2"></label>
            <input type="password" name="password2" id="password2" placeholder="Reingresa la nueva contraseña"> </input>
            </div>
        </div>
         
 <div class="profileEdit__buttonContainer">
    <button class="profileEdit__button" type="submit">Guardar</button>
    </div>
</div>
    </div>

   

    </form>
</div>
    </section>
</main>

    <%- include('../partials/footer') %>

</body>
</html>