<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body class="main--register-login">
    <%- include('../partials/header') %>


    <main class="main--register-login">

<section class="register--section">
    <article class="registerCard">
        <div class="registerCard--title">
        <h1>Regístrate antes de continuar</h1>
        <hr>
    </div>

    <div class="registerCard--body">
        <form action='/register' method="POST" enctype="multipart/form-data">
            <div class="registerCard--bodyInputs">
            <input  type="text" name="username" id="username" placeholder="Nombre de usuario">
            <label for="username"></label>
            </div>

            <div class="registerCard--bodyInputs">
                <input  type="email" name="email" id="email" placeholder="Correo Electrónico">
                <label for="email"></label>
            </div>

            <div class="registerCard--bodyInputs">
                <input  type="text" name="password" id="password" placeholder="Contraseña">
                <label for="password"></label>

            </div>

            <div class="registerCard--bodyInputs">
                <input  type="text" name="password2" id="password2" placeholder="Confirmar contraseña">
                <label for="password2"></label>
            </div>

        </form>
        <button type="submit" class="registerCard--body__button">Regístrate</button>
    </div>
    <div class="registerCard--footer">
    <small>¿Ya tienes una cuenta?</small>
    <a href="/login">Inicia Sesión</a>
</div>
    </article>
</section>

    </main>
  
    <%- include('../partials/footer') %>


</body>
</html>