<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

<main>

    <section class="profileEdit--section">

        <div class="profileEdit--sectionContainer">
        
            <div class="profileEdit__title">
                <h1>Cerrar Cuenta</h1>
            </div>
        <div class="profileEdit__formsContainer">
            <div class="profileDestroy--announce">
            <p class="profileDestroy__text"> <span class="destroy__text">Advertencia: </span> Si cierras tu cuenta, te desuscribirás de todos
            tus cursos y perderás acceso a tu cuenta y a todos los datos que estén asociados
        a ella para siempre.</p>
    </div>
    <div class="profileDestroy__buttonContainer">
        <button class="profileDestroy__button" type="submit">Cerrar Cuenta</button>
        </div>
        </div>
    </div>

    </section>
</main>

    <%- include('../partials/footer') %>

</body>
</html>