<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

<main class="profileEdit--main">

    <section class="profileUserMenu--section">
        <div class="profileUserMenu--sectionContainer">
            <div class="profileMenu--imageContainer">
            <img src="/imgs/Images/pngegg 7.png" alt="">
            <h2>Nombre de usuario</h2>
        </div>
        
        <div class="profileUserMenu--options">
        
        <a href="/profile/edit"><h3>Perfil</h3></a>
        
        <a href="/profile/edit-security"><h3>Seguridad de Cuenta</h3></a>
        
        <a href="/profile/my-courses"><h3>Cursos</h3></a>
        
        <div class="profileUserMenu--selected"> <a href="/profile/create"><h3>Creación de Cursos</h3></a></div>
        
        <a href="/profile/delete-account"><h3>Cerrar Cuenta</h3></a> 
        </div>
        
        </div>
        </section>
    
<section class="profileEdit--section">

    <div class="profileEdit--sectionContainer">
    
        <div class="profileEdit__title"><h1>Creación de Cursos</h1></div>

        <div class="profileEdit__formsContainer">

            <article class="coursesListSearch--box">
                <div class="productListSearch__searchBar">
                    <label for=""></label>
                    <input placeholder="Buscar cualquier cosa" type="text" name="" id="">
                    <button class="productListSearch__searchButton"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
               
                <div class="productListSearch__selectBar">
                <div class="productListSearch__selectContainer">
                    <label for="category"></label>
            
                    <select name="category" id="category">
                    <option class="selectGrey" selected disabled>-- Seleccionar categoría --</option>
        
        </select>
                </div>
                
                <div class="productListSearch__selectContainer">
                    <select name="subcategory" id="subcategory">
                        <option class="selectGrey" selected disabled>-- Seleccionar subcategoría --</option>
                    
                       </select>
                </div>
                
                <button class="productListSearch__filterCategoriesButton"><i class="fa-solid fa-filter"></i></button>
            </div>
            </article>

            <button class="addNewProduct--button" type="button" onclick="location.href='/products/add'"> <i class="fa-solid fa-square-plus"></i> Crear un nuevo curso</button>

            <div class="productListAddCourses--inside">

                <article class="productList--card">
                    <img src="/imgs/Images/photo preview.webp" alt=""> 
                    <div class="productList--cardStructure">
                    <div class="productList--cardStructureInside">
                    <h3 class="productList--card__title">Nombre del curso</h3>
                    <div class="ratingProductList--container">
                    <div class="recommendationsProductList--card__rating-Stars">
                        <span>4,5</span> 
                        <i class="fa-solid fa-star"></i>
                    </div>
            
                    <div class="recommendationsProductList--card__rating-Reviews">
                        <i class="fa-solid fa-users"></i>
                        <span>1245</span> 
                    </div>
                </div>
                    
                    <div class="productList--card__tag">
                        
                        <p class="productList--card__tagTitle">Seguridad Ofensiva</p>
                    </div>
                     
                </div>
                   
                    <div class="productList--userAdd__salesContainer">  
                    <div class="productList--card__optionsContainer">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button><i class="fa-solid fa-pen"></i></button>
                    <button><i class="fa-solid fa-trash"></i></button>
                </div>
                 
                    <span class="coursesSales--container"><span class="numberSales"> 12</span> <i class="fa-solid fa-sack-dollar"></i></span>
                    </div>
                </div>
                </article>

                <article class="productList--card">
                    <img src="/imgs/Images/photo preview.webp" alt=""> 
                    <div class="productList--cardStructure">
                    <div class="productList--cardStructureInside">
                    <h3 class="productList--card__title">Nombre del curso</h3>
                    <div class="ratingProductList--container">
                    <div class="recommendationsProductList--card__rating-Stars">
                        <span>4,5</span> 
                        <i class="fa-solid fa-star"></i>
                    </div>
            
                    <div class="recommendationsProductList--card__rating-Reviews">
                        <i class="fa-solid fa-users"></i>
                        <span>1245</span> 
                    </div>
                </div>
                    
                    <div class="productList--card__tag">
                        
                        <p class="productList--card__tagTitle">Seguridad Ofensiva</p>
                    </div>
                     
                </div>
                   
                    <div class="productList--userAdd__salesContainer">  
                    <div class="productList--card__optionsContainer">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button><i class="fa-solid fa-pen"></i></button>
                    <button><i class="fa-solid fa-trash"></i></button>
                </div>
                 
                    <span class="coursesSales--container"><span class="numberSales"> 12</span> <i class="fa-solid fa-sack-dollar"></i></span>
                    </div>
                </div>
                </article>

                <article class="productList--card">
                    <img src="/imgs/Images/photo preview.webp" alt=""> 
                    <div class="productList--cardStructure">
                    <div class="productList--cardStructureInside">
                    <h3 class="productList--card__title">Nombre del curso</h3>
                    <div class="ratingProductList--container">
                    <div class="recommendationsProductList--card__rating-Stars">
                        <span>4,5</span> 
                        <i class="fa-solid fa-star"></i>
                    </div>
            
                    <div class="recommendationsProductList--card__rating-Reviews">
                        <i class="fa-solid fa-users"></i>
                        <span>1245</span> 
                    </div>
                </div>
                    
                    <div class="productList--card__tag">
                        
                        <p class="productList--card__tagTitle">Seguridad Ofensiva</p>
                    </div>
                     
                </div>
                   
                    <div class="productList--userAdd__salesContainer">  
                    <div class="productList--card__optionsContainer">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button><i class="fa-solid fa-pen"></i></button>
                    <button><i class="fa-solid fa-trash"></i></button>
                </div>
                 
                    <span class="coursesSales--container"><span class="numberSales"> 12</span> <i class="fa-solid fa-sack-dollar"></i></span>
                    </div>
                </div>
                </article>

                <article class="productList--card">
                    <img src="/imgs/Images/photo preview.webp" alt=""> 
                    <div class="productList--cardStructure">
                    <div class="productList--cardStructureInside">
                    <h3 class="productList--card__title">Nombre del curso</h3>
                    <div class="ratingProductList--container">
                    <div class="recommendationsProductList--card__rating-Stars">
                        <span>4,5</span> 
                        <i class="fa-solid fa-star"></i>
                    </div>
            
                    <div class="recommendationsProductList--card__rating-Reviews">
                        <i class="fa-solid fa-users"></i>
                        <span>1245</span> 
                    </div>
                </div>
                    
                    <div class="productList--card__tag">
                        
                        <p class="productList--card__tagTitle">Seguridad Ofensiva</p>
                    </div>
                     
                </div>
                   
                    <div class="productList--userAdd__salesContainer">  
                    <div class="productList--card__optionsContainer">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button><i class="fa-solid fa-pen"></i></button>
                    <button><i class="fa-solid fa-trash"></i></button>
                </div>
                 
                    <span class="coursesSales--container"><span class="numberSales"> 12</span> <i class="fa-solid fa-sack-dollar"></i></span>
                    </div>
                </div>
                </article>

                <article class="productList--card">
                    <img src="/imgs/Images/photo preview.webp" alt=""> 
                    <div class="productList--cardStructure">
                    <div class="productList--cardStructureInside">
                    <h3 class="productList--card__title">Nombre del curso</h3>
                    <div class="ratingProductList--container">
                    <div class="recommendationsProductList--card__rating-Stars">
                        <span>4,5</span> 
                        <i class="fa-solid fa-star"></i>
                    </div>
            
                    <div class="recommendationsProductList--card__rating-Reviews">
                        <i class="fa-solid fa-users"></i>
                        <span>1245</span> 
                    </div>
                </div>
                    
                    <div class="productList--card__tag">
                        
                        <p class="productList--card__tagTitle">Seguridad Ofensiva</p>
                    </div>
                     
                </div>
                   
                    <div class="productList--userAdd__salesContainer">  
                    <div class="productList--card__optionsContainer">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button><i class="fa-solid fa-pen"></i></button>
                    <button><i class="fa-solid fa-trash"></i></button>
                </div>
                 
                    <span class="coursesSales--container"><span class="numberSales"> 12</span> <i class="fa-solid fa-sack-dollar"></i></span>
                    </div>
                </div>
                </article>

</div>
                <!-- Paginador -->

<div class="adminListPaginator--box"> 
    <div class="paginator--boxInside">
    <button class="paginator__buttonLeft" disabled><i class="fa-solid fa-chevron-left"></i></button>
    <div class="paginator--numbersContainer">
     <p class="selectedNumber">1</p> <p>2</p> <p>3</p> 
    </div>
     <button class="paginator__buttonRight"><i class="fa-solid fa-chevron-right"></i></button>
    </div>

            </div>

    </div>
</section>    
    
</main>

    <%- include('../partials/footer') %>

</body>
</html>